<div class="main"  (scroll)="onScroll($event)">

  <div  class="container" *ngFor="let item of data">
    {{ item.id }}

  </div>
</div>
<!--<div class="hello">
  </div>
  <p>
    Start editing to see some magic happen :)
  </p>

  <div class="scroll"
    (scroll)="onScroll($event)">
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
    s<br>  c<br>  r<br>  o<br>  l<br>  l<br>
  </div>-->
